.Product-page-first-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8em;
}
.Product-page-second-div {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 80vw;
  padding: 2em 2em;
}

.Product-page-third-div {
  display: flex;
  flex-direction: row;

  width: 100%;
}
.Product-image-first-image {
  width: 400px;
}
.Product-flex-on-web-right {
  width: 60%;
}
.Product-page-h1 {
  margin-top: 2em;
  font-weight: bolder;
  margin-bottom: 0.2em;
}

.Product-page-location {
  display: flex;
  align-items: center;
  gap: 0.4em;
  background-color: #007aff12;
  color: #007aff;
  width: fit-content;
  padding: 0.3em 0.7em;
  border-radius: 45em;
  font-size: 0.88em;
}

.Product-page-Short-description {
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 0.8em;
  color: Gray;
}
.Product-page-long-description {
  margin-bottom: 2em;
  font-size: 0.8em;
  color: Gray;
}

.Product-page-price {
  border-top: #66666636 0.06em solid;
  border-bottom: #66666636 0.06em solid;
  width: 100%;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  margin-bottom: 2em;
}

.Product-page-remaining {
  font-size: 0.7em;
  color: gray;
}

.Product-page-span-remaining {
  color: #007aff;
}
.product-page-btns {
  width: 100%;
}
.product-page-add-and-remove-button-div {
  border: 1px solid black;
  margin-top: 2em;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6em;
  border-radius: 1em;
  padding: 0.2em 0.62em;
}
.product-page-quantity{
  width: 1em
}
.product-page-add-or-remove-btn {
  background-color: inherit;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 2em;
}

.product-page-add-to-cart-btn {
  height: 3.6em;
  width: 100%;
  background-color: #007aff;
  border: none;
  border-radius: 0.3em;
  color: white;
  margin-top: 2em;
}
.product-page-buy-now-btn {
  height: 3.6em;
  width: 100%;
  background-color: #000;
  border: none;
  border-radius: 0.3em;
  color: white;
  margin-top: 1em;
}

.Product-page-product-full-description-div {
  margin-top: 4em;
}

.toast-message {
  background-color: red;
  color: white;
  width: 100%;
}

@media only screen and (max-width: 998px) {
  .Product-page-second-div {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100vw;
   
  }
  
  .Product-page-third-div {
    display: flex;
    flex-direction: column;
  
    width: 100%;
  }
  .Product-flex-on-web-right {
    width: 100%;
  }
  .Product-page-first-div {
    margin-top: 4em;
    margin-bottom: -5em;

  }
  
}

@media only screen and (max-width: 498px) {
  .Product-image-first-image {
    width: 200px;
    padding-top: 5em;
  }
  .Product-page-second-div {
    display: flex;
    padding: 1em 1em;
  }
  
}