.input-forms {
    padding-left: 1em;
    padding: 0.8em;
    width: 38em;
    height: 4.32em;
    margin-top: 0.3em;
    margin-bottom: 1.7em;
    border: black 0.12em solid;
}
.error{
    color: red;
    font-size: 14px;
    margin-top: -1.3em;
    margin-bottom: 1.2em;
}
@media only screen and (max-width: 570px){
    .input-forms {
        padding-left: 1em;
        padding: 0.8em;
        width: 90vw;
        height: 4.0em;
    }
}