.p-profile {
  padding: 16px 32px;
  display: flex;
  gap: 16px;
  color: gray;
  align-items: center;
}

.p-profile:hover {
  padding: 16px 32px;
  background-color: #d9d9d935;
}

.p-active-profile {
  background-color: #064bde;
  color: white;
}

.p-active-profile:hover {
  background-color: #064bde;
  color: white;
}
.div-p-profile {
  display: flex;
  flex-direction: column;
  /* gap: 1em; */
  width: 100%;
  justify-content: flex-start;
}
.profile-menu-container {
  display: none;
  width: 600px;
  white-space: nowrap;
  overflow-x: scroll;
}

.p-profile-overflow {
  display: inline-block;
  padding: 10px;
}

.profile-div-right {
  background-color: white;
  padding: 24px;
  width: 1000px;
  flex-direction: column;
}

.first-profile-p {
  display: flex;
  gap: 1em;
  margin-top: -6em;
  width: 100%;
  justify-content: center;
  padding: 0;
  padding-left: 120px;
  padding-right: 120px;
  margin-bottom: 124px;
}

.profile-icons {
}

.new-profile {
  background-color: red;
  display: flex;
}
.mobile-hide-profile {
  /* display: flex;
  width: 200;
  flex-direction: column; */
  display: none;
}
.div-lines-display {
  width: 100%;
}

.functions-hider {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1200px) {
  .mobile-hide-profile {
    display: none;
  }
  .div-lines-display {
    width: 100%;
  }
  .div-p-profile {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .profile-div-right {
    background-color: white;
    padding: 24px;
    width: 700px;
    flex-direction: column;
  }
  .functions-hider {
    display: flex;
  }
}

@media (max-width: 600px) {
  .profile-div-right {
    background-color: white;
    width: 500px;
    margin-top: -9em;
    padding-bottom: 9em;
    margin-bottom: -5em;
  }
  .div-lines-display {
    width: 100%;
  }
  .h4-details {
    width: 100%;
    text-align: left;
  }
  .functions-hider {
    display: flex;
  }

  .first-profile-p {
    display: flex;
    gap: 1em;
    margin-top: 3em;
    width: 100vw;
    justify-content: center;
    padding: 16px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 124px;
  }
}

@media (max-width: 500px) {
  .profile-div-right {
    background-color: white;
    width: 100vw;
    margin-top: -9em;
    padding-bottom: 9em;
    margin-bottom: -5em;
  }
  .div-lines-display {
    width: 100%;
  }
  .h4-details {
    width: 100%;
    text-align: left;
  }
  .functions-hider {
    display: flex;
  }

  .first-profile-p {
    display: flex;
    gap: 1em;
    margin-top: 3em;
    width: 90vw;
    justify-content: center;
    padding: 16px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 124px;
  }
}
